@{
}

@model IEnumerable<string>
<div class="accordion-item mt-2">
    <h2 class="accordion-header" id="heading6">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
            <h5>Hair Color</h5>
            <i class="bi bi-chevron-down mx-auto"></i>
        </button>
    </h2>
    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample">
        <div class="accordion-body d-grid gap-2">
            @foreach (string t in Model)
            {
                <a asp-controller="Home" asp-action="Burials" asp-route-HairFilter="@t" asp-route-pageNum="1"
                   class="btn @(ViewBag.SelectedHair == t ? "btn-primary" : "btn-outline-secondary")">@t</a>
            }
        </div>
    </div>
</div>



@*<div class="gap-2 mt-2">
    <h3>Hair Color</h3>
    @foreach (string t in Model)
    {
        <a asp-controller="Home" asp-action="Burials" asp-route-HairFilter="@t" asp-route-pageNum="1"
           class="btn @(ViewBag.SelectedHair == t ? "btn-primary" : "btn-outline-secondary")">@t</a>
    }
</div>*@